<!DOCTYPE html>
<html> <!-- lang="fr" -->


<head>

  <title>Laura portfolio</title>
  <meta name="description" content="This is the portfolio of Laura Berretta as a full stack web developper.">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dpuyx30vh/image/upload/v1702979334/paris_xugwy7.jpg);">
  <div class="container">
    <h1>Laura Berretta</h1>
  </div>
</div>

<div class ="container">
  <h2>My projects</h2>
  <ul>
    <li>Coworkers</li>
    <li>RentAPresident</li>
    <li>LSF</li>
</div>

<%=Contact.last.first_name%>

<%= simple_form_for @contact do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.button :submit %>
<% end %>

</div>
</body>

</html>
